RewriteEngine On

# Permitir el acceso a archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Enruta todo lo demás a index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
