/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 feb 2026, 19:15:28
    Author     : sagal
*/
/*Colores personalizados*/
:root{
    --color-bakery:#a35d45;
    --color-bakery-hover:#8f4f38;
    --color-fondo:#fffaf0;
}
body{
    background-color: var(--color-fondo);
    height: 100vh;
    display:flex;
    align-items:center;
}
.btn-bakery{
    background-color: var(--color-bakery);
    color:white;
}
.btn-bakery:hover{
    background-color: var(--color-bakery-hover);
    color:white;
}
.card-login{
    border:none;
    border-radius:15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.text-bakery{
    color:var(--color-bakery);
}

